@import url('https://fonts.googleapis.com/css?family=Quicksand');
/*@import "compass/css3";*/

th{
	background-color: #b33c00;
}

.dropdown{
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;

}
#ativos{
	cursor: pointer;
	font-size: 20px;
}

#inativos{
	cursor: pointer;
	font-size: 20px;
}

.tamanhodaimagem {
	background-image: url("../img/frutasfundo.png"); 
	background: cover;
	margin: 0 auto;
}


.image{
	background-size: content;
}

.letra {
	color: black;
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
}

.margemlista{
	height: 50px;
	width: 60%;
	margin: 0 auto;	
}

.margemlista h2{
	font-size: 30px;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

.margem {
	margin-top: 50px;
	font-family: 'Quicksand', sans-serif;
	color: black;
}


body  {
	background-image: url("../img/woodfundo.jpg"); 
	background-size: 100%;
	background-attachment: fixed;

}

#form1 p{
	color: black;
	font-size: 16px;
}
.container {
	color: black;
	width: 80%;
	height: 80%;
}

.modal-content{
	color: black;
}

.navbar-fixed-top{
	width: 100%;
	margin: 0 auto;
}

.col-xs-5{
	width: 40%;
	margin: 0 auto;

}

.modal-header h4{
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
}

.navbar-brand{
	font-family: 'Quicksand', sans-serif;
}
.dropdown-menu li{
	
	font-size: 20px;
}

input{
    text-transform:capitalize;
}

.form-group p {
margin-top: 2%;
font-family: 'Quicksand', sans-serif;
}