body{
	
	background-image: url("../img/frutasfundo.png");
	background-repeat: none;
	background-attachment: fixed;
	background-size: cover;

}

.navbar-right{
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
}

.bv{
margin:0 auto;
border-radius: 10px;
width: 70%;
height: 150px;
color: white;
text-align: center;
margin-top: 220px;
font-family: 'Quicksand', sans-serif;
background: rgba(0, 0, 0, 1.0)
}

.bv h1{
	font-size: 120px;
}