@import url('https://fonts.googleapis.com/css?family=Quicksand');
/*@import "compass/css3";*/

th{
	background-color: #b33c00;
}

.dropdown{
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;

}

#adiciona{

	margin-top: 3%;
}
#botaoAtivo, #botaoInativo{
	cursor: pointer;
	font-size: 20px;
}

.image{
	background-size: content;
}

.letra {
	color: black;
	font-size: 18px;
	font-family: 'Quicksand', sans-serif;
}

.margemlista{
	height: 50px;
	width: 60%;
	margin: 0 auto;	
}

.margemlista h2{
	font-size: 30px;
	font-family: 'Quicksand', sans-serif;
	text-align: center;
}

.margem {
	margin-top: 50px;
	font-family: 'Quicksand', sans-serif;
	color: black;
	margin-bottom: 20px;
}


body  {
	background-image: url("../img/woodfundo.jpg"); 
	background-size: cover;
	background-attachment: fixed;
	background-repeat: none;
}

.container {
	color: black;
	width: 80%;
	height: 80%;
	margin-bottom: 20px;
}

.modal-content{
	color: black;
}

.navbar-fixed-top{
	width: 100%;
	margin: 0 auto;
}

.col-xs-5{
	width: 40%;
	margin: 0 auto;

}

.modal-header h4{
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
	padding:35px 50px;

}

.modal-body{
	padding:20px 20px;
}

.navbar-brand{
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
}

.navbar-inverse{
margin-bottom: 10px;
}

.dropdown-menu li{
	
	font-size: 20px;
}

.form-group p {
margin-top: 2%;
font-family: 'Quicksand', sans-serif;
}

#alertaItemAdicionado {
	margin-top: 2%;
	margin-bottom: 2%;
}

#alertaCampoVazio{
	margin-top: 2%;
}

#alertaItemEditado{
margin-top: 2%;
}

.formulario{
	margin-top: 10%;
	text-align: center;
	margin-left: 40%;
}

.loginsuper{
	margin-top: 20px;
	font-family: 'Quicksand', sans-serif;
	font-size: 25px;

}

.loginusuario{
	font-size: 20px; 
	font-family: 'Quicksand', sans-serif;
	text-align: right;
}

.loginsenha{
	font-size: 20px; 
	font-family: 'Quicksand', sans-serif;
}

